.error{
    font-size: 14px;
}

/* header css change */
.sidenav-header{
    height:auto;
}
.navbar-vertical .navbar-brand-img, .navbar-vertical .navbar-brand > img{
    max-height:initial;
}

/* table head */
.table .thead-dark th{
    color:#fff;
}

/* datatable */
.dataTables_wrapper .row:last-child{
    padding:1.25rem 0;
}
.dataTable tbody tr td{
    padding: 5px 10px;
}
.table td.breakSpace, .table th.breakSpace{
    white-space: break-spaces;
}

/* sidebar menu */
.navbar-vertical.navbar-expand-xs .navbar-nav > .nav-item > .nav-link.active{
    background: #172b4d;
    color:#fff;
}

.navbar-vertical.navbar-expand-xs .navbar-nav > .nav-item > .nav-link.active i{
    color:#fff!important;
}

.navbar-vertical .navbar-nav .nav-link[data-toggle='collapse'][aria-expanded='true']:after{
    color:#fff;
}

/* select2 */
.select2-container--default .select2-selection--single,.select2-container--default .select2-selection--multiple{
    border: 1px solid #dee2e6;
}
.select2-container .select2-selection--single{
    height: initial;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    font-weight:400;
    color:#8898aa;
    font-size: .875rem;
    line-height: 1.5;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    border-right: 0px;
}

/* ================ toggle sidebar */
.g-sidenav-pinned .sidenav.toggleShow{
    max-width: 250px!important;
}

.g-sidenav-pinned .sidenav.toggleHide{
    width: 0px;
}

/* ==================== dispatch */
.dispatch_block{
    font-size:13px!important;
}